.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 92;
    overflow: auto;


    &.modal-form {
        background: #7C57FD;
        display: none;
        align-items: center;
        justify-content: center;

        z-index: 99;

        .modal__btn-close {
            svg {
                path {
                    fill: #CCFD56;
                }
            }
        }
    }

    &.modal-info {
        display: none;
        flex-direction: column;
        padding-bottom: 80px;

        .modal__btn-close {
            svg {
                path {
                    fill: #7C57FD;
                }
            }
        }
    }

    &.modal--active {
        display: flex;
    }
}

.modal--form__container {
    max-width: 800px;
    width: 100%;

}


.modal {

    h2 {
        text-align: center;
        color: #FFF;
        font-size: 72px;
        font-weight: 900;
        text-transform: uppercase;
    }

}

.modal__btn-close {
    cursor: pointer;
}

.modal__form {
    .modal__btn-close {

        svg {
            path {
                fill: #CCFD56;
            }
        }
    }


    button {
        margin: 6vh auto 0;

        &.btn {
            height: 80px;
            padding: 0 40px;
            border-radius: 40px;

            &.btn-link {
                gap: 20px;
            }

            span {
                font-size: 32px;
            }
        }
    }
}

.form__logo {
    margin: 40px 0;

    display: flex;
    justify-content: center;
}

.form__fields {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &.form__fields--contact {
        margin-top: 10vh;
    }
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 14px;

    label {
        color: #CCFD56;
        font-size: 20px;
        padding-left: 10px;
    }

    input {
        border-radius: 4px;
        background: #F5F5F5;
        height: 80px;
        width: 100%;
        font-size: 18px;
        border: none;
        padding: 0 30px;
    }

    .form__field-input {
        width: 100%;
        position: relative;

        img {
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
        }
    }

    textarea {
        border-radius: 4px;
        padding: 15px 30px;
        resize: none;
        height: 140px;
        font-size: 18px;
        border: none;
    }
}



.modal__btn-close {
    position: absolute;
    top: 100px;
    right: 100px;
    border:none;
    background-color: transparent;

    svg {
        width: 90px;
        height: 90px;
    }
}


.modal-info__main {
    max-width: 1320px;
    margin: 234px auto 100px;

    display: flex;
    flex-direction: column;
    gap: 60px;
}

.modal-info__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
        color: #000;
        font-size: 36px;

    }
}

.modal-info__content {
    padding: 40px;
    background: #FAFAFA;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    p {
        font-size: 20px;
    }

    h3 {
        font-size: 24px;
        font-weight: 900;
    }
}

.modal-info__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    li {
        border-radius: 25px;
        border: 1px solid #7C57FD;
        padding: 10px 30px;
        list-style: none;

        span {
            color: #7C57FD;
            font-size: 20px;
        }
    }
}

.modal__list-item {
    padding: 0 100px;
    cursor: pointer;

    &.modal__list-item--active {
        background: #CCFD56;
        padding-bottom: 50px;

        .modal__list-header {
            border-bottom: none;
        }

        .modal__list-arrow {
            background-color: #7C57FD;
            transition: .4s;

            svg {
                transition: .4s;
                fill: #CCFD56;
                transform: rotate(-90deg);
            }
        }

        .modal__list-content {
            transition: .4s;
        }
    }
}

.modal__list-arrow {
    width: 70px;
    height: 70px;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;

    svg {
        transition: .4s;
        fill: #7C57FD;
    }
}

.modal__list-header {
    display: flex;
    align-items: center;
    color: #2B3226;
    border-bottom: 1px solid #D9D9D9;
    padding: 50px 0;
}

.modal__list-name {
    width: 50%;

    span {
        font-size: 24px;
        text-transform: uppercase;
    }
}


.modal__list-date {
    width: 25%;

    span {
        display: block;
        width: 80px;
        text-align: center;
        font-size: 48px;
        font-weight: 300;
        text-transform: uppercase;

        &.modal__list-date-time {
            color: #2B3226;
            font-size: 20px;
            font-weight: 400;
        }
    }
}



.modal__list-arrow-wrapper {
    width: 25%;
    display: flex;
    justify-content: end;
}

.modal__list-content {
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: .4s;
}

.modal__list-content-item {
    display: flex;
    flex-direction: column;
    gap: 40px;

    h4 {
        color: #000;
        font-size: 20px;
        font-weight: 900;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
            list-style: none;

            span {
                color: #2B3226;
                font-size: 20px;
            }
        }
    }


    .modal-info__list {
        flex-direction: row;
    }

    &:last-child {
        gap: 20px;
    }
}

.form__success {
    margin-top: 20px;
    background: #ccfd57;
    color: #2b3226;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.modal__form--signup {
    .form__field {
        margin-top: 0;
    }
}

@media (max-width: 1680px) {
    .form__fields {
        gap: 24px;
    }

    .form__field {
        gap: 8px;

        input {
            height: 50px;
            padding: 0 10px;
        }

        textarea{
            padding: 10px;
            height: 100px;
        }
    }

    .modal__form button.btn {
        height: 60px;

        span {
            font-size: 24px;
        }
    }

}

@media (max-width: 980px) {
    .modal h2 {
        font-size: 32px;
    }

    .modal__btn-close {
        top: 30px;
        right: 30px;

        svg {
            width: 30px;
            height: 30px;
        }
    }

    .form__fields{
        gap: 16px;
        &.form__fields--contact{
            margin-top: 5vh;
        }
    }
    .modal__form button{
        margin-top: 4vh;
    }

}

@media (max-width: 720px){
    .modal-info__header{
        flex-direction: column;
        gap: 20px;
    }
    .modal-info__main{
        margin: 100px 0;
    }
    .modal-info__list{
        justify-content: center;
    }

    .modal__list-header--top{
        display: none;
    }
   
    .modal__list-item{
        padding: 0 20px;
    }
   
}